*{
    margin: 0px;
    padding: 0px;
}
.my-container{
    min-height: 90vh;
    background-color: white;
}
.ima{
    width: 100%;
    height: 80vh;
}
.feature-page{
    font-size: 50px;
    background-color: #DFDFE5;
    color: black;
    height: 120px;
    font-weight: bolder;
}
.blank{
    background-color: #DFDFE5;
    height: 120px;
}
.blank-1{
    background-color: #3423CA;
    height: 120px;
}
.pricing-page{
    font-size: 50px;
    background-color: #3423CA;
    color: #DFDFE5;
    height: 120px; 
}
.pri{
    height: 70vh;
    border: 1px solid black;
    background-color: white;
    box-shadow: 5px 5px 5px 5px #0005;
}
.main-price{
    font-size: 70px;
    font-weight: bolder;
    margin-top: -20px;
}
.pri-p{
    font-size: 40px;
}
.pri-list{
    padding-left: 50px;
}

.info-one{
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 30px;
    font-weight: bolder;
}
.info-sec{
    font-size: 20px;
    padding : 40px;
}
.slid-main-text{
    font-size: 50px;
}





/*////////////////              login page               ////////////////////////*/





.log-body{                                              /*       also use in signup.html file           */
    background-color: #3423CA;
}
.log-row{
    background-color: #3423CA;
}
.log-block{
    background-color: white;
    margin-top: 20vh;
    box-shadow: 4px 4px 5px 5px #005;
}
.log-logo{                                        /*       also use in signup.html file           */
    width: 150px;
    margin-top: 10px;
}
.sign-txt{                                        /*       also use in signup.html file           */
    font-size: 40px;
    font-weight: bolder;
}
.log-line{                                       /*       also use in signup.html file           */
    padding: 5px;
    font-size: 20px;
    width: 90%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid blue;
}
.log-button{                                       /*       also use in signup.html file           */
    border: none;
    color: #ffffff;
    background-color: #3423CA;
    margin-top: 20px;
    margin-right: 35px;
    font-size: 25px;
    padding-left: 5px;
    padding-top: 1px;
    padding-right: 5px;
    padding-bottom: 3px;
    margin-bottom: 20px;
    box-shadow: 3px 3px #0003;
}
.log-button:hover{                                    /*       also use in signup.html file           */
    background-color: blue;
    cursor: pointer;
}







/*//////////////////                          sign up page                      ////////////////////////*/









.sign-block{
    background-color: white;
    margin-top: 15vh;
    box-shadow: 4px 4px 5px 5px #005;
}


.forgot-txt{
    font-size: 30px;
    font-weight: bolder;
}